body {
    margin: 0px;
    background-color: #fff7f7;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: #084700;
    margin: 0px;
}
h1 {
    font-family: 'Delius', cursive;
    color: #fff6f6;
    text-align: center;
    font-size: 1.9em;
    padding: 0.3em 0px;
    margin: 0px;
}
.style_bar {
    text-align: center;
    background-color: #3d6638;
    margin: 0px;
    padding: 0.4em 0px;
}
.labs {
    font-size: 1em;
    font-weight: 600;
    background-color: #f6fbff;
    padding: 0.1em 0.5em;
    border-radius: 2px;
    margin: 0px 1em;
}
#natalLab {
    color: #084700;
    background-color: #ffa3a3;
    border: 0.1em solid #ff0c0c;
}
main {
    max-width: 1110px;

    margin: 0px auto;
}
section {
    color: #470000;
    background-color: #d8ffd4;
    border: 2px solid #084700;
    border-radius: 5px;
    margin: 0.4em;
}
h2 {
    text-align: center;
    margin: 0.4em 0em;
}
p {
    
    margin: 0.4em 0.6em;
}
span {
    border-radius: 0.2em;
    padding: 0px 0.07em;
}
.span1 {
    color: #470000;
    background-color: #ff5c5c;
}
.span2 {
    color: #084700;
    background-color: #67ff5c;
}
/*
#ffe2e2
*/