body {
    margin: 0px;
    background-color: #f6fbff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    background-color: #252547;
    margin: 0px;
}
h1 {
    color: #f6fbff;
    text-align: center;
    font-size: 1.9em;
    padding: 0.3em 0px;
    margin: 0px;
}
.style_bar {
    text-align: center;
    background-color: #313155;
    margin: 0px;
    padding: 0.4em 0px;
}
.labs {
    font-size: 1em;
    font-weight: 600;
    background-color: #f6fbff;
    padding: 0.1em 0.5em;
    border-radius: 2px;
    margin: 0px 1em;
}
#whiteLab {
    color: #f6fbff;
    background-color: #252547;
    border: 0.1em solid #f6fbff;
}
main {
    max-width: 1110px;

    margin: 0px auto;
}
section {
    border: 2px solid #252547;
    border-radius: 5px;
    margin: 0.4em;
}
h2 {
    text-align: center;
    margin: 0.4em 0em;
}
p {
    
    margin: 0.4em 0.6em;
}
span {
    color: #f6fbff;
    background-color: #252547;

    border-radius: 0.2em;
    padding: 0px 0.07em;
}